<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head><title>Tickets!</title></head>

<script src="js/angular.js" type="text/javascript" ></script>
<script src="js/angular-resource.js" type="text/javascript" ></script>
<script src="js/jQuery.js" type="text/javascript" ></script>
<script src="js/bootstrap.js" type="text/javascript" ></script>
<script src="js/D3Service.js" type="text/javascript" ></script>
<script src="js/TicketsFilters.js" type="text/javascript" ></script>
<script src="js/TicketsServices.js" type="text/javascript" ></script>
<script src="js/TicketsDirectives.js" type="text/javascript" ></script>
<script src="js/TicketsControllers.js" type="text/javascript" ></script>
<!--<script src="js/d3.js" type="text/javascript" ></script>-->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<style>


.rounded-corner {
font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size:12px;width:480px;text-align:left;border-collapse:collapse;margin:20px;
}

.background {                                                      
  fill: none;
  pointer-events: all;
}


#states {
  fill: #aaa;
  stroke: none;
  stroke-width: 0px;
}

/*#states path:hover {
  fill: #aaa;
  stroke: none;
  stroke-width: 0px;
}*/


#counties path {
  stroke: #000;
  fill: transparent;
}

#townships path {
  stroke: #000;
  fill: transparent;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.axistext {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

text {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}
</style>
<body ng-app="ticketApp" ng-controller="TicketCtrl">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
<!--       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="#">Ticket Price History</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{getEventName() || "Select Event"}} <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
			  <li role="presentation" ng-repeat="event in data.availableEvents"><a role="menuitem" tabindex="-1" href="#" ng-click="selectEvent(event)">{{event.name}}</a></li>
			</ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- <div class="btn-group">
	  <button type="button" id="dropdownMenu1" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	   {{getEventName() || "Select Event"}} <span class="caret"></span>
	  </button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
	  <li role="presentation" ng-repeat="event in data.availableEvents"><a role="menuitem" tabindex="-1" href="#" ng-click="selectEvent(event)">{{event.name}}</a></li>
	</ul>
</div> -->
<div class="container">
	<div class="jumbotron">
		<h2 ng-show="eventURL">
			<a ng-href="{{eventURL}}">{{data.prices.event.description}}</a>
		</h2>
	</div>
	<!-- <div>
		Select an Event: <select  id="eventPulldown" ></select>
	</div> -->

	<div class="row" >
		<div id="arenaDiv" style="float: left;">
		    <span jj-arena
		          data="data.ticketData.prices"
		          shape-data="data.stadium.shapeData"
		          jj-height="750"
		          jj-width="600">
		    </span>
		</div>
		<div id="scatterDiv" style="float:left;">
			<div class="row">'
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 btn-group">
							  <button type="button" id="dropdownMenuMinQty" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							   {{"Min Qty: " + minQty}} <span class="caret"></span>
							  </button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuMinQty">
							  <li role="presentation" ng-repeat="qty in data.qtys"><a role="menuitem" tabindex="-1" href="#" ng-click="selectMinQty(qty)">{{qty}}</a></li>
							</ul>

						</div>
						<div class="col-md-6 btn-group">
							  <button type="button" id="dropdownMenuXAxis" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							   {{"X-Axis: " + xAxis}} <span class="caret"></span>
							  </button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuXAxis">
							  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="selectXAxis('row')">Row</a></li>
							  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="selectXAxis('sec')">Section</a></li>							  
							</ul>

						</div>						
					</div>
					<div class="row">
						<div class="btn-group">
							  <button type="button" id="dropdownMenuMoveSince" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							   Prices at: {{ sinceDate | date: 'short' }} <span class="caret"></span>
							  </button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuMoveSince">
							  <li role="presentation" ng-repeat="dt in data.prices.histPrices.dateAry"><a role="menuitem" tabindex="-1" href="#" ng-click="selectSinceDate(dt,$index)">{{dt | date:'short'}}</a></li>
							</ul>
						</div>
					</div>				
				</div>
			</div>
			<div  class="row"> 
				<div class="row">
		            <span jj-scatter-plot
		                  data="data.ticketData.prices"
		                  update="scatUpdate"
		                  jj-max-x="90000"
		                  jj-max-y="300"
		                  jj-x-func="scatterX(item)"
		                  jj-y-func="scatterY(item)"
		                  jj-height="400"
		                  jj-width="400"
		                  jj-circle-mouse-over="mouseOver(item,d3,circle)"
		                  jj-circle-mouse-out="mouseOut(item,d3,circle)"	                  
		                  jj-click="scatterClick(item)"
		                  jj-circle-r="3"
		                  jj-filter="scatterFilter(item)"
		                  jj-circle-fill="scatterFill(item)">
		            </span>          
	            </div>
	            <div class="row panel panel-collapse panel-default">
		            <div class="panel-heading">Ticket Info</div>
		            <table class="  table  table-bordered table-condensed  table-striped table-hover table-responsive ">
		                <thead>
		                    <tr style="cursor: pointer">
		                        <th ng-click="setOrder('va')">Section</th>
		                        <th ng-click="setOrder('rd')">Row</th>
		                        <th ng-click="setOrder('qt')">Qtys</th> 
		                        <th ng-repeat="dt in data.prices.histPrices.dateAry | reverse"   ng-click="setOrder('pr')">{{dt | date:'short'}}</th>                       
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr ng-repeat="line in hoverTicket" style="cursor: pointer">
		                        <td style=" white-space:nowrap;" >{{line.va }}</td>
		                        <td>{{line.rd}}</td>
		                        <td>{{line.qt}}</td>
		                        <td ng-repeat="dt in data.prices.histPrices.dateAry  ">{{getPrice(line.pr,$index) | currency: "$"  }}</td>         
		                    </tr>
		                </tbody>
		            </table>	            	
	            </div>
			</div>			
		</div>
	</div>
	<div id="divClaimsList" class="panel panel-collapse panel-default  ">
            <div class="panel-heading">Price History</div>
            <table class="  table  table-bordered table-condensed  table-striped table-hover table-responsive ">
                <thead>
                    <tr style="cursor: pointer">
                        <th ng-click="setOrder('va')">Section</th>
                        <th ng-click="setOrder('rd')">Row</th>
                        <th ng-click="setOrder('qt')">Qtys</th> 
                        <th ng-repeat="dt in data.prices.histPrices.dateAry | reverse"   ng-click="setOrder('pr')">{{dt | date:'short'}}</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in data.ticketData.prices  | filter: scatterFilter | orderBy: orderProp | limitTo: 500" style="cursor: pointer">
                        <td style=" white-space:nowrap;" >{{line.va }}</td>
                        <td>{{line.rd}}</td>
                        <td>{{line.qt}}</td>
                        <td ng-repeat="dt in data.prices.histPrices.dateAry  ">{{getPrice(line.pr,$index) | currency: "$"  }}</td>         
                    </tr>
                </tbody>
            </table>
    </div>
</div>

</body>
</html>